<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>

    <title>Login</title>
  </head>
  <body
    class="bg-light"
    style="
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    "
  >
    <div
      ng-app="login"
      ng-controller="loginCtrl"
      class="w-50 bg-white p-4 rounded shadow"
    >
      <form class="container mt-5">
        <label for="email">Email:</label>
        <input
          type="text"
          id="email"
          ng-model="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <p class="text-danger" ng-show="email && !email.includes('@')">
          Please enter a valid email address.
        </p>
        <br />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          ng-model="password"
          class="form-control"
          placeholder="Enter Password"
        />
        <p class="text-danger" ng-show="password && password.length < 6">
          Password must be at least 6 characters long.
        </p>
        <br />
        <button
          ng-disabled="!email || !password || !email.includes('@') || password.length < 6"
          class="btn btn-primary"
          ng-click="login()"
        >
          Login
        </button>
      </form>
      <div class="mt-3">
        <p>{{ message }}</p>
      </div>
    </div>
    <script>
      var app = angular.module("login", []);
      app.controller("loginCtrl", function ($scope) {
        $scope.login = function () {
          if (
            $scope.email === "admin@gmail.com" &&
            $scope.password === "123456"
          ) {
            $scope.message = "Welcome Admin!";
          } else if (
            $scope.email === "aly@gmail.com" &&
            $scope.password === "445566"
          ) {
            $scope.message = "Welcome Aly!";
          } else {
            $scope.message = "Invalid email or password.";
          }
        };
      });
    </script>
  </body>
</html>
